a=input("enter your password\t")
l=[]
flag=0
count=0
if(len(a)>=7):
  for i in range(0,len(a)):
    l.append(a[i])
  for i in range(len(a)):
    k=ord(l[i])
    if(k>=65 and k<=90):
      count+=1
      break
  for i in range(len(a)):
    k=ord(l[i])
    if(k>=48 and k<=57):
      count+=1
      break
  for i in range(len(a)):
    k=ord(l[i])
    if(k>=33 and k<=43):
      count+=1
      break
  if(count==3):
   print("Very Strong password")
  if(count==2):
   print("Strong password")
  if(count==1):
   print("weak password")
else:
  print("too short password")


